@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200,300,400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 6s linear infinite;
  }
  
 
  .bg-image {
    background-image: url('/public/assets/images/grass.jpg');
    background-size: cover;
    background-position: center;
  }
  
  /* styles.css */
.myText {
  font-family: Helvetica, Arial, sans-serif;
}

.times-new-roman {
  font-family: "Times New Roman", Times, serif;
}
  
 